{% from "_form_helpers.html" import render_error, render_textarea %}
{% extends "/layout/main.html" %}


{% block body %}
	
		<div class="header">
			<a href="/home"><h1>Packeasy</h1></a>
		</div><!--header-->

		<div class="main">

			<div class="create_trip">
				<a href="/create">Create Your Trip</a>
            <!--<button type="button">Create Your Trip</button> -->
			</div>

			<div class="trip_list">
				
				<table border="1" cellpadding="0" cellspacing="0">

					<caption>
						{{ current_user.username }}'s Trips
					</caption>

					{% for t in allTrip %}
						<tr onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);" onclick="DoNav('/create');">
						<td>{{ t.startdate }} to {{ t.enddate }}</td>
						<td>{{ t.location }}</td>
						<td>{{ t.listname }}</td>
						</tr>
					{% endfor %}


				</table>

			</div>
		</div><!--page-->


{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}
<script type="text/javascript">
			function ChangeColor(tableRow, highLight) {
				if (highLight) {
					tableRow.style.backgroundColor = '#dcfac9';
				} else {
					tableRow.style.backgroundColor = 'white';
				}
			}

			function DoNav(theUrl) {
				document.location.href = theUrl;
			}
		</script>

{% endblock %}