{% extends "layout/main.html" %}


{% block body %}

<div class="row">

	<!-- left column -->
	<div class="span12">
		<h2>IDEA: {{ idea.title }}</h2>
		<p>By {{ idea.creator }}</p>
		<hr>
		<p>{{ idea.idea }}</p>
		<p>
			<ul>
			{% for c in idea.categories %}
			<li>{{ c|replace("_"," ") }}</li>
			{% endfor %}
			</ul>
		</p>

		<p>added: {{ idea.timestamp }} | id: {{ idea.id }}</p>
		
		<hr>

		<h3>Comments ( {{ idea.comments|length }} )</h3>
		<div class="row">

			<!-- DISPLAY COMMENTS -->
			<div class="span5">
				{% for comment in idea.comments %}
				<div class="comment">
					<span class="commenter">{{ comment.name }} said,</span><br>
					<p>{{ comment.comment }}</p>
					<p><small>{{ comment.timestamp.strftime("%a %m/%d %I:%M%p ") }}</small></p>
				</div>
				<hr>
				{% endfor %}
			</div>

			<!-- ADD COMMENT -->
			<div class="span5">
				<form method="POST" action="/ideas/{{ idea.id }}/comment">
					<label for="name">First Name</label>
					<input type="text" id="name" name="name">
					
					<label for="comment">Comment</label>
					<textarea cols="50" rows="6" id="comment" name="comment"></textarea>
					
					<label>
					<button type="submit" class="btn btn-success">Comment</button>
					</label>
				</form>
			</div>
		</div>
		

	</div>


	

</div>

{% endblock %}


{% block styles %}{% endblock %}
{% block scripts %}{% endblock %}